<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (messages.length > 0) { %>
                    <div class="grid">
                        <% for (let message of messages) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= message.recipient %>
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <p class="product__description">
                                        <%= message.message %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-message/<%=message._id%>?edit=true" class="btn">Edit</a>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <input type="hidden" name="messagesId" value="<%= messages._id %>">  
                                    <button class="btn" type="button" onclick="deleteMessage(this)">Delete</button>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Messages Added!</h1>
                    <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
            <script src="/js/admin.js"></script>